body {
  background-color: #efefef;
  min-width: 1080px;
}

.content {
  width: 60%;
  margin-left: auto;
  margin-right: auto;

  margin-top: 24px;
}

.block {
  background-color: white;
  border: 1px solid #DADADA;
  border-radius: 6px;
}

.blockContent {
  width: calc(100% - 24px - 24px);
  margin-left: auto;
  margin-right: auto;

  margin-top: 24px;
  margin-bottom: 24px;

  display: flex;
  justify-content: space-between;
}

.nameContainer {
  font-size: 64px;
  font-weight: 600;
}

p {
  margin: 0;
}

.staticInfoContainer {
  width: 300px;
  margin-right: 0;
  margin-left: auto; 

  height: 153px;

  font-size: 24px;
  text-align: right;
}

.staticInfoBlock {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 6px;
}

.staticInfoBlock .icon {
  float: left;
  margin-left: 12px;
  padding-top: 4px;
}

.staticInfoBlock .staticInfoText {
  float: left;
}


.clear {
  clear: left;
}

.error {
  background-color: red;
}