body {
  background-color: #efefef;
  min-width: 1080px;
  padding-left: 24px;
  padding-right: 24px;
  overflow-x: hidden;
}

.content {
  max-width: 1080px;
  
  margin-left: auto;
  margin-right: auto;

  margin-top: 24px;
}

.block {
  background-color: white;
  border: 1px solid #DADADA;
  border-radius: 6px;
  margin-bottom: 6px;
}

.blockContent {
  width: calc(100% - 24px - 24px);
  margin-left: auto;
  margin-right: auto;

  margin-top: 24px;
  margin-bottom: 24px;
}

.nameBlockContent {
  display: flex;
  justify-content: space-between;
}

.blockTitle {
  font-size: 36px;
  font-weight: 600;
}

.nameContainer {
  margin-top: 24px;
  font-weight: 600;
  width: 80%;
}

.nameContainer .name {
  font-size: 54px;
}

.nameContainer .surname {
  font-size: 36px;
}

.nameOverflowContainter {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

p {
  margin: 0;
}

.staticInfoContainer {
  width: 300px;
  margin-right: 0;
  margin-left: auto; 

  height: 153px;

  font-size: 24px;
  text-align: right;
}

.staticInfoBlock {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 6px;
}

.staticInfoBlock .icon {
  float: left;
  margin-left: 12px;
  padding-top: 4px;
}

.staticInfoBlock .staticInfoText {
  float: left;
}

.afterTitleWrapperVertical {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  margin-top: 24px;
}

.afterTitleWrapper {
  display: flex;
  margin-left: 12px;
  margin-top: 24px;
}

.semiTitle {
  font-size: 24px;
  margin-bottom: 12px;
}

.saleDescriptionWrapper, .minutesDescriptionWrapper {
  width: 90%;
}

.minuteDescriptionWrapper {
  width: 90%;
  margin-bottom: 6px;
}

.textWrapper {
  max-width: 900px;
}

.minute .semiTitle, .present .semiTitle{
  margin-bottom: 12px;
}

.minute, .present {
  width: 100%;
  border-bottom: 1px solid #DADADA;
  margin-bottom: 24px;
}

.minute:last-child, .present:last-child {
  margin-bottom: 0;
}

.sale, .minutes {
  width: 50%;
}

.clear {
  clear: left;
}

.error {
  background-color: red;
}

.light {
  font-weight: 300;
  font-size: 24px;
}

.smol-light {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 6px;
}

.tire {
  font-size: 24px;

  position: absolute;
  margin-left: 150px;
  margin-top: -46px
}

.after, .footerIcons {
  font-size: 24px;

  position: absolute;
  margin-left: 186px;
  margin-top: -44px
}

.footerIcons {
  margin-top: -42px;
}

.after {
  width: 100%;
}

.footerIcons {
  display: flex;
}

.footerIcons .icon {
  margin-left: 12px;
}

.footerIcons .icon:first-child {
  margin-left: 0px;
}

.loginBlock {
  background-color: white;
  border: 1px solid #DADADA;
  border-radius: 6px;
  margin-bottom: 6px; 
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.loginContent {
  margin: 24px;
}

.loginContent input, .loginContent button {
  font-size: 24px;
  border: 1px solid #DADADA;
  border-radius: 4px;
  height: 48px;
  margin-top: 6px;
  padding-left: 6px;
  width: calc(100% - 6px);
}

.loginContent button {
  height: 48px;
  width: 100%;
  background-color: #efefef;
}

.loginContent .inputBlock {
  margin-bottom: 24px;
}

.loginContent .errorMessage {
  padding: 24px;
  background-color: #ffd2d2;
  color: #d8000c;
  border: 1px solid #d8000c;
  border-radius: 6px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.logout button {
  font-size: 24px;
  border: 1px solid #DADADA;
  border-radius: 4px;
  height: 48px;
  margin-top: 6px;
  padding-left: 6px;
  width: 160px;
  background-color: #efefef;
}